apiVersion: v1
kind: Service
metadata:
  name: ${{values.name}}
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 80
      targetPort: 3000
  selector:
    app.kubernetes.io/name: ${{values.name}}
